# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtualenvs
venv/
env/
.venv/
.pyenv/

# IDEs
.idea/
.vscode/

# Django
*.log
db.sqlite3
/staticfiles
media/

# Distribution / packaging
*.egg-info/
dist/
build/

# OS
.DS_Store
Thumbs.db
